# Environnement & secrets
.env.local
.env.*.local
.env.local.php
.env.test
phpunit.xml

# Clés & certificats
config/secrets/*/*decrypt.private.php
config/jwt/*.pem
*.key
*.pem
*.crt

# Dépendances & builds
/vendor/
/node_modules/
/public/build/
/public/bundles/

# Données générées
/var/
/coverage/
.phpunit.result.cache
.php-cs-fixer.cache

# Uploads et médias non suivis
/public/uploads/
/backups/

# Éditeur & OS
/.idea/
/.vscode/
*.iml
.DS_Store
Thumbs.db
###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
.env.local
.env.test 

#Docs divers
CONFIGURATION.md 
SCHEMA_ENV_FILES.md
INSTALLATION_JURY.md
CHANGELOG_FORMTYPES.md
DEPLOIEMENT.md
GUIDE_BDD.md
CRON_SETUP.md
JUSTIFICATION_JURY.md
