{% extends 'base.html.twig' %}

{% block title %}Conditions Générales d’Utilisation — Esportify{% endblock %}

{% block body %}
<div class="container-fluid mx-auto">
  <h1 class="text-clair1 text-center pt-2">Conditions Générales d’Utilisation</h1>
  <div class="container-lg w-50 bg-clair2 rounded-2 text-center text-darkBlue my-3 my-lg-5 py-2 py-lg-3">
    <p class="text-decoration-underline link-offset-2 fw-bold">Objet</p>
    <p class='text-description'>
      Les présentes CGU encadrent l’accès et l’utilisation du site Esportify.
    </p>
    <p class="text-decoration-underline link-offset-2 fw-bold">Acceptation</p>
    <p class="text-description">
      Toute utilisation vaut acceptation pleine et entière des CGU.
    </p>
    <p class="text-decoration-underline link-offset-2 fw-bold">Accès au service</p>
    <p class="text-description">
      Le site est un projet personnel non commercial.
      L’accès est gratuit.
    </p>
    <p class="text-decoration-underline link-offset-2 fw-bold">Comptes utilisateurs</p>
    <p class="text-description">
      L’utilisateur s’engage à :
      fournir des informations exactes,
      ne pas usurper l’identité d’un tiers,
      respecter le fonctionnement du site.
      Le pseudo et l’email doivent être uniques.
    </p>
    <p class="text-decoration-underline link-offset-2 fw-bold">Sécurité</p>
    <p class="text-description">
      Conformément à l’article 32 du RGPD :
      les mots de passe sont hashés,
      aucun stockage de mots de passe en clair,
      la sécurité est assurée au mieux.
    </p>
    <p class="text-decoration-underline link-offset-2 fw-bold">Contenu utilisateur</p>
    <p class="text-description">
      L’utilisateur est responsable des informations qu’il saisit.
      Tout contenu illicite pourra être supprimé conformément à l’article 6 I-7 de la LCEN.
    </p>
    <p class="text-decoration-underline link-offset-2 fw-bold">Disponibilité</p>
    <p class="text-description">
      Le site peut être interrompu pour maintenance.
      Aucune garantie de disponibilité permanente.
    </p>
    <p class="text-decoration-underline link-offset-2 fw-bold">Responsabilité</p>
    <p class="text-description">
      Le site ne peut être tenu responsable :
      d’interruptions,
      de pertes de données,
      d’utilisation inappropriée du service.
    </p>
    <p class="text-decoration-underline link-offset-2 fw-bold">Données personnelles</p>
    <p class="text-description">
      Voir “Politique de confidentialité”.
    </p>
    <p class="text-decoration-underline link-offset-2 fw-bold">Modification des CGU</p>
    <p class="text-description">
      L’éditeur peut modifier les CGU à tout moment.
      L’utilisateur sera invité à les consulter régulièrement.
    </p>
  </div>
</div>
{% endblock %}