{% extends 'base.html.twig' %}

{% block title %}Mentions Légales — Esportify{% endblock %}

{% block body %}
<div class="container-fluid mx-auto">
  <h1 class="text-clair1 text-center pt-2">Mentions Légales</h1>
  <div class="container-lg w-50 bg-clair2 rounded-2 text-center text-darkBlue my-3 my-lg-5 py-2 py-lg-3">
    <p class="text-decoration-underline link-offset-2 fw-bold">Éditeur du site</p>
    <p class='text-description'>
      Conformément à l’article 6 III-1 de la loi n°2004-575 du 21 juin 2004 (LCEN), le site est édité par :
      Anne-Emilie Malassis
      1320 Chemin de Fontbonne
      07270 Nozières – France
      Email : aemalassi@gmail.com
      Statut : Particulier
      Le site Esportify est un projet personnel sans activité commerciale.
    </p>
    <p class="text-decoration-underline link-offset-2 fw-bold">Hébergement du site</p>
    <p class="text-description">
      Conformément à l’article 6 III-1 de la LCEN :
      Le site est actuellement hébergé localement via un environnement Docker.
      Le code source est hébergé sur GitHub (GitHub, Inc. – 88 Colin P Kelly Jr St, San Francisco, CA 94107, États-Unis).
      Aucun hébergeur tiers n’est utilisé pour servir l’application au public à ce jour.
    </p>
    <p class="text-decoration-underline link-offset-2 fw-bold">Propriété intellectuelle</p>
    <p class="text-description">
      Conformément aux articles L111-1 et suivants du Code de la Propriété Intellectuelle (CPI) :
      Le contenu du site Esportify (textes, images, éléments graphiques, maquettes, code source) est protégé.
      Toute reproduction, modification ou diffusion sans autorisation est interdite.      
    </p>
    <p class="text-decoration-underline link-offset-2 fw-bold">Responsabilité</p>
    <p class="text-description">
      Conformément à l’article 6 I-2 de la LCEN, l’éditeur ne peut être tenu responsable :
      des difficultés techniques,
      de l'utilisation faite par les utilisateurs,
      des contenus externes (liens tiers).
    </p>
    <p class="text-decoration-underline link-offset-2 fw-bold">Données personnelles</p>
    <p class="text-description">
      Le site traite des données personnelles conformément au Règlement (UE) 2016/679 (RGPD) et à la loi Informatique & Libertés modifiée (2018).
      Voir : Politique de confidentialité.
    </p>
    <p class="text-decoration-underline link-offset-2 fw-bold">Cookies</p>
    <p class="text-description">
      Le site utilise un cookie de confort (“remember me”).
      Voir : Politique de confidentialité. 
    </p>
  </div>
</div>
{% endblock %}

