# Mise à jour des statuts des tournois toutes les 5 minutes
*/5 * * * * . /etc/environment && cd /var/www/html && /usr/local/bin/php bin/console app:update-tournament-status >> /var/log/cron.log 2>&1
