{% extends 'base.html.twig' %}

{% block title %}Contact — Esportify{% endblock %}

{% block body %}
	<div class="container-fluid mx-auto">
        <!-- Logo Esportify  -->
        <div class="container-lg text-center">
            <img class="img-logo img-fluid" src="{{ asset('build/images/logo/logo-modifie.png') }}" alt="logo esportify">
        </div>
        <!-- Titre de la page -->
        <h1 class="text-clair2 text-center pt-2">Contactez-nous !</h1>

        <!-- Formulaire de Contact -->
        <section class="section_contact d-flex text_description justify-content-center my-4 mt-4"> 
            <form action="#" method="POST" class="form_contact bg-clair1 rounded-4 text-lightBlue px-5 py-4" id="searchForm">

                <!-- Informations personnelles -->
                <input id="name" name="name" type="text" class="form-control input_filter mb-3" minlength="2" maxlength="50" placeholder="Votre nom" required>
                <input id="surname" name="surname" type="text" class="form-control input_filter mb-3" minlength="2" maxlength="50" placeholder="Votre prénom" required>
                <input id="mail" name="mail" type="email" class="form-control input_filter mb-3" placeholder="example@example.fr" required>

                <!-- Rôle de l'utilisateur -->
                <div class="role_user d-flex flex-column">
                    <p class="text-center text-decoration-underline mb-2">Qui êtes-vous ? :</p>
                    <div class="align-self-start">
                        <input type="radio" id="visiteur" name="role" value="visiteur">
                        <label for="visiteur">Un visiteur</label>
                    </div>
                    <div class="align-self-start">
                        <input type="radio" id="joueur" name="role" value="joueur">
                        <label for="joueur">Un joueur</label>
                    </div>
                    <div class="align-self-start mb-3">
                        <input type="radio" id="organisateur" name="role" value="organisateur">
                        <label for="organisateur">Un organisateur</label>
                    </div>
                </div>

                <!-- Type de question -->
                <div class="question_type d-flex flex-column">
                    <p class="text-center text-decoration-underline mb-2">Votre message concerne :</p>
                    <div class="align-self-start">
                        <input type="radio" id="probTechnique" name="questions" value="Problème Technique">
                        <label for="probTechnique">Un problème technique</label>
                    </div>
                    <div class="align-self-start">
                        <input type="radio" id="account" name="questions" value="Compte Utilisateur">
                        <label for="account">Un compte utilisateur</label>
                    </div>
                    <div class="align-self-start">
                        <input type="radio" id="events" name="questions" value="Inscription aux évènements">
                        <label for="events">L'inscription à un ou des évènements</label>
                    </div>
                    <div class="align-self-start">
                        <input type="radio" id="signal" name="questions" value="Signaler un comportement ou un abus">
                        <label for="signal">Signaler un comportement ou un abus</label>
                    </div>
                    <div class="align-self-start">
                        <input type="radio" id="otherQuestion" name="questions" value="Autre question">
                        <label for="otherQuestion">Un autre question ?</label>
                    </div>
                </div>

                <!-- Message -->
                <textarea class="form-control input_filter mt-3" type="text" maxlength="500" placeholder="Votre message..." required></textarea>

                <!-- Bouton d'envoi -->
                <div class="d-flex justify-content-center mt-4 mb-2">
                    <input class="btn-custom-lg-green btn btn-greenFluo" type="submit" value="Envoyer le message">
                </div>
            </form>
        </section>
    </div>
{% endblock %}